body{
    color: white;
}
.calculator{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: rgb(48, 47, 47);
    font-size: 2rem;
    border-radius: 10px;
}
.display{
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    justify-self: right;
    margin-right: 20px;
    height: 100px;
    align-items: flex-end;
}
.previous{
    height: 50%;
}
.current{
    height: 50%;
}
.button{
    width: 100%;
    text-align: center;
    height: 80px;
    color: rgb(44, 65, 71);
    border: 0;
    font-size: 1.5rem;
}
.number{
    background-color: rgb(223, 159, 41);
}
.number:hover{
    background-color: rgb(255, 178, 35);
}
.number:active{
    background-color: rgb(255, 195, 85);
}
.sign{
    background-color: rgb(175, 168, 168);
}
.sign:hover{
    background-color: rgb(211, 205, 205);

}
.sign:active{
    background-color: rgb(243, 235, 235);

}
.zero{
    grid-column: 1/3;

}

.equals{
    grid-column: 4/5;
    grid-row: 5/7;
    height: 160px;
}

